.App-Goog{
    display: flex;
    flex-direction: row;
    width: 132.68px;
    height: 39.08px;
    gap:20px ;
    margin-left: 380px;
    margin-top: 35px;
}
.app{
    width: 132.68px;
    height: 39.08px;
    border-radius: 5px;
}